[common]
server_addr = 39.107.99.6
server_port = 7000

#用于身份验证
token = dalei

[chongyun]
type = http
local_ip = 172.19.0.2
local_port = 80
#use_encryption     加密（将 frpc 与 frps 之间的通信内容加密传输，将会有效防止流量被拦截）
#use_compression    压缩（减小 frpc 与 frps 之间的网络流量，加快流量转发速度，但是会额外消耗一些 cpu 资源）
use_encryption = false
use_compression = true
#如果frps的域名是dalei.work，那么您可以通过URL http://chongyun.dalei.work访问
subdomain = chongyun

[chongyun_https]
type = https
local_ip = 172.19.0.2
local_port = 443
#use_encryption     加密（将 frpc 与 frps 之间的通信内容加密传输，将会有效防止流量被拦截）
#use_compression    压缩（减小 frpc 与 frps 之间的网络流量，加快流量转发速度，但是会额外消耗一些 cpu 资源）
use_encryption = false
use_compression = true
#如果frps的域名是dalei.work，那么您可以通过URL http://chongyun.dalei.work访问
subdomain = chongyun

[mysql]
type = tcp
local_ip = 172.19.0.253
local_port = 3306
remote_port = 3306
